*{
    margin: 0;
    padding: 0;
     
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1rem;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.5rem;
}
ul {
    list-style: none;
}

/* Section-1 Styling */

/* Section-1--> Navigation Bar Styling Code */

.section-1 {
    width: 100%;
    height: 95.5vh;
    background-image: url(./img/car-bg.jpg);
    background-repeat: no-repeat;
    background-size: 100%; 
    background-position: center;
    background-size:cover;
     
    
}

.navigation {
    display: flex;
    vertical-align: middle;
     
   
}

.navigation > h2 {
    margin-left: 16%;
     
    padding-top: 1.3rem;

    vertical-align: middle;
}

.navigation > h2 > i {
    font-size: 1.5rem;
}

.navigation > h2:hover{
    cursor: pointer;
    color: gold;
    transition: 0.3s;
}

.navigation > ul {
    display: flex;
    justify-content: space-evenly;
    font-size: 1.5rem;
    margin-left: 12%;
    vertical-align: middle;
     
}

.navigation > ul > li {
    padding: 1rem;
    margin: 1rem;
}

.navigation > ul > li:hover {
    cursor: pointer;
    color: gold;
    transition: 0.3s;
    border-bottom: 2px solid gold;
}

.navigation > ul > li > button {
    background-color: rgb(2 193 251);
    padding: 1rem;
    margin-bottom: -1rem;
    vertical-align: middle;
    margin-top: -1rem; 
}

.navigation > ul > li > button:hover {
    cursor: pointer;
    color: gold;
    transition: 0.3s;
    background-color: Transparent;
    border: none;
    
}

/* Section-1--> Main content styling code */

.section-1-details {
    display: flex;
    flex-direction: column;
    text-align:start;
    width: 40%;
    margin-top : 30vh;
    margin-left: 20rem; 

}

.section-1-details > h1 {
    margin: 1rem 0 2rem;
    color: rgb(2 193 251);
}

.section-1-details > p {
    font-size: 2rem;
    margin: 1rem 0 0.5rem;
}

.section-1-details > button {
    font-size: 1.6rem;
    background-color:  rgb(2 193 251);
    align-items: flex-start;
    padding: 0.8rem;
    margin: 0.2rem 0 1rem;
    width: 20rem;
}

.section-1-details > button:hover{
    cursor: pointer;
    color: gold;
    transition: 0.3s;
    background-color: Transparent;
    border: none;

}



/* Section-2 Styling*/

/* Section-2--> Footer Bar Styling Code */

.section-2  {
    background-color: black;
     
}

.section-2 >footer {
    height: 5.5vh;
    padding: 1rem;
    vertical-align: middle;
}

.section-2 >footer > ul {
    display: flex;
    justify-content: space-evenly;
    font-size: 1.4rem;
    vertical-align: middle;
    

}

 

